@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swaps');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.background-image {
    width: 100%;
    height: 100vh;
    background: url('./images/background.jpg') no-repeat center;
    background-size: cover;
    filter: blur(10px);
}

.login-container {
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 18%;
    border-radius: 20px;
    box-shadow: 5px 10px 10px 1px rgb(32 33 36 / 28%);
    background: url('./images/background.jpg') no-repeat center;
    background-size: cover;
}

.login-container .content {
    float: left;
    width: 45%;
    text-align: center;
    font-size: x-large;
}

.login-container .account {
    float: right;
    width: 52%;
    border: 1px solid whitesmoke;
    padding: 150px 50px 50px 50px;
    border-radius: 10px;
}

.login-container .title {
    position: absolute;
    top: 70px;
    left: 70%;
    font-size: x-large;
}

.login-container .user i {
    position: absolute;
    right: 70px;
    top: 34%;
}

.login-container .account .user .username {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: transparent;
    font-size: 14px;
    padding-left: 5px;
    cursor: pointer;
}

.login-container .account .user label {
    position: absolute;
    top: 33%;
    left: 52%;
    pointer-events: none;
    font-weight: normal;
    font-size: 18px;
}

.login-container .account .user .username:focus~label,
.login-container .account .user .username:valid~label {
    top: 28%;
    left: 53%;
    font-weight: 600;
    transition: all 0.2s ease;
}

.login-container .pass #toggle-button {
    position: absolute;
    right: 70px;
    top: 46%;
    cursor: pointer;
}

.login-container .account .pass .password {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: transparent;
    font-size: 14px;
    padding-left: 5px;
    cursor: pointer;
}

.login-container .account .pass label {
    position: absolute;
    top: 45%;
    left: 52%;
    pointer-events: none;
    font-size: 18px;
}

.login-container .account .pass .password:focus~label,
.login-container .account .pass .password:valid~label {
    top: 41%;
    left: 53%;
    font-weight: 600;
    transition: all 0.2s ease;
}

.login-container .account .pass {
    margin-top: 35px;
}

.login-container .account .error-notify #error {
    position: absolute;
    color: red;
    display: none;
}

.login-container .account .error-notify a{
    position: relative;
    left: 66%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.login-container .account .button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: larger;
    font-weight: 900;
    background-color: rgb(252, 188, 111);
    margin-top: 50px;
    cursor: pointer;
}

.login-container .account .create-acc {
    margin-top: 80px;
    margin-left: 110px;
}

.login-container .account .create-acc p {
    position: absolute;
}

.login-container .account .create-acc a {
    position: relative;
    left: 63%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

